{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title%}
	Add specializations
{% endblock %}

{% block page_heading %}
(3/5) {{consultant.first_name}} {{consultant.last_name}} - select specializations
{% endblock %}

{% block content %}
	<p class="text-muted italic"><i>Select the relevant specializations below, then click next. These are optional--you may leave all blank if needed.</i></p>
	<form method = "POST">
		{% csrf_token %}
		{{ form }}
		<div>
			<button class="btn btn-custom" type="Submit">
				Next
			</button>
		</div>
	</form>


{% endblock %}
