{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title%}
	Add practice areas
{% endblock %}

{% block page_heading %}
(2/5) {{consultant.first_name}} {{consultant.last_name}} - select practice areas
{% endblock %}

{% block content %}
	<p class="text-muted italic"><i>Select the relevant practice areas below, then click next.</i></p>
	<form method = "POST">
		{% csrf_token %}
		{{ form}}
		<div>
			<button class="btn btn-custom" type="Submit">
				Next
			</button>
		</div>
	</form>


{% endblock %}
