{% extends 'base.html' %}
{% load consultant_tags %}

{% block page_title%}
	Consultant view
{% endblock %}


{% block page_heading %}
{{consultant.first_name}} {{consultant.last_name}} <a href="{% url 'edit-view' consultant_id=consultant.id %}"><span class="h6">edit</span></a>
{% endblock %}

{% block content %}
<!-- 	<p>
	<ul>
		
	  <li><b>Years of experience: </b>{{consultant.experience_years}}</li>

	  {% for pa in consultant.practice_areas.all %}
		<li><b>{{pa}}</b></li>
			<ul>
			{% for specialization in consultant|specialization_display:pa.specialization_set.all %}
				<li>{{specialization}}</li>

		  {% endfor %}
		  </ul>

		{% endfor %}
		<li><b>Skills: </b></li>
			<ul>
			  {% for skill in consultant.skills.all %}
					<li>{{skill}}</li>
			  {% endfor %}
			</ul>
	</ul>

	{% if consultant.cv_file %}
	<h4><a href="{{ consultant.cv_file.url }}">Download CV</a></h4>
	{% endif %}
	
	</p> -->

	<ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#expertise" data-toggle="tab" class="nav-link">Expertise</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#review" data-toggle="tab" class="nav-link">Reviews</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Consultant Profile</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>Years of experience:</b> {{ consultant.experience_years }} <br/>
                                <b>Day rate (PKR):</b> {{ consultant.day_rate }} <br/>
                                <b>Email address:</b> {{ consultant.email }} <br/>
                                <b>Previously engaged?:</b> {{ consultant.previous_engagement }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Practice areas</h6>
                            {% for pa in consultant.practice_areas.all %}
                            	<a href="#" class="badge badge-custom badge-pill">{{pa}}</a>

                            {% endfor %}
                            <hr>
                            <h6>Skills</h6>
                            {% for skill in consultant.skills.all %}
                            	<a href="#" class="badge badge-custom badge-pill">{{skill}}</a>

                            {% endfor %}

                        </div>

                        <div class="col-md-12">
                        	<hr>
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Available CV files</h5>
                            {% if consultant.cv_file_1 %}
								<h6><a href="{{ consultant.cv_file_1.url }}">Download CV</a></h6>
							{% endif %}
							{% if consultant.cv_file_2 %}
								<h6><a href="{{ consultant.cv_file_2.url }}">Download CV</a></h6>
							{% endif %}
							{% if consultant.cv_file_3 %}
								<h6><a href="{{ consultant.cv_file_3.url }}">Download CV</a></h6>
							{% endif %}

                            
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="expertise">
                	<ul>
	  					{% for pa in consultant.practice_areas.all %}
							<li><b>{{pa}}</b></li>
							<ul>
								{% for specialization in consultant|specialization_display:pa.specialization_set.all %}
									<li>{{specialization.name}}</li>

		  						{% endfor %}
		  					</ul>

						{% endfor %}

					</ul>
                    
                </div>
                <div class="tab-pane" id="review">
                	<div class="card">
				<h5 class="card-header d-flex justify-content-between">
	 	 			Reviews from OPM staff <span class="pull-right"><a href="{% url 'rate-consultant-view' consultant_id=consultant.id %}">Add a review</a></span>
				</h5>
				{% for review in consultant.rating_set.all %}
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
				    <h6 class="card-title">Rated <i class="text-success">{{ review.star_rating }}</i> stars by <i class="text-success">{{ review.creator }}</i> for <i class="text-success">{{ review.project_code }}</i></h6>
				    <h6>{{ review.date_of_engagement }} {{review.days_worked}} days @ {{ review.contracted_rate }}</h6>
				    <p class="card-text">{{ review.comment }}</p>
				  </li>
		  	</ul>
		  	{% endfor %}
		</div>
                    
                </div>
            </div>

	


{% endblock %}
