{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block custom_css %}
    {% endblock %}

    <!--Load jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    {% block custom_js %}
    {% endblock %}

    <!-- Make title of page -->
    <title>
        {% block page_title%}
            {% endblock %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">OPM Consultant Database</a>
      {% if not user.is_authenticated  %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      {% endif %}

    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bioform' %}">
                  <span data-feather="user-plus"></span>
                  Add a consultant
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'consultant-query' %}">
                  <span data-feather="search"></span>
                  Search by expertise
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'rating-search' %}">
                  <span data-feather="award"></span>
                  Search by name
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block page_heading %}{% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="{% url 'add-ticket' %}">
                  <button class="btn btn-sm btn-outline-danger">

                      Help?

                  </button>
                </a>
              </div>
            </div>
          </div>
          {% block content %}
        {% endblock %}
          
        </main>

        

      </div>



    </div>
    <!-- ICONS -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>