<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    {% block custom_css %}
    {% endblock %}

    <!--Load jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    {% block custom_js %}
    {% endblock %}

    <!-- Make title of page -->
    <title>
        {% block page_title%}
            {% endblock %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">OPM Consult DB</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'bioform' %}">
                  Add a consultant
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'consultant-query' %}">
                  Search for consultants
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Review a consultant
                </a>
              </li>
            </ul>
          </div>
        </nav>
              <div class="col" style="padding-top: 30px;">
        {% block content %}
        {% endblock %}
      </div>
      </div>



    </div>
  </body>
</html>