{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title%}
	Search by name
{% endblock %}

{% block page_heading %}
Search by name
{% endblock %}

{% block content %}
	<p class="text-muted italic"><i>Use this form to find a consultant using their name. You can enter the first name, last name, or both. Searching is fuzzy so misspelled names will still return the closest matching results, e.g. a search for "Yasir Ahmad" will also match a consultant named "Yaser Ahmed".</i></p>
	<form method = "POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div>
			<button class="btn btn-custom" type="Submit">
				Search
			</button>
		</div>
	</form>
{% endblock %}